#gmMap {
	bottom: 0px;
	top: 29px;
	left: 0px;
	right: 0px;
	border: 1px solid black;
	overflow: hidden;
	position: absolute;
}

#gmMapContainer {
	width: 100%;
	height: 100%;
	border: 1px solid blue;
	position: absolute;
}

.gmMapTile {
	width:256px;
	height:256px;
	border: none;
	position: absolute;
	z-index: 1;
	cursor: url(grab.cur) 8 8, default;
}

.gmMapLoc {
	position: absolute;
	white-space: nowrap;
	z-index: 20;
	color: #33ff33;
	font-weight: 400;
	font-family: "Arial", sans-serif;
	font-size: 11px;
	text-shadow: 0px 0px 2px #000000;
	background-color: rgba(0,0,0,0.4);
	display: inline-block;
	box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.3);
	cursor: pointer;
}

.gmMapLocDisabled {
	color: #ff3333 !important;
}

.gmMapLocIconDiv {
	position: absolute;
	z-index: 19;
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
	border: none;
	text-align: center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/* background-color: rgba(0,0,0,0.3);
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.3); */
}

.gmMapLocIconHelper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.gmMapLocIcon {
	display: inline-block;
	border: none;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.gmMapPopupRoot {
	display: block;
	position: absolute;
	z-index: 30;
}

.gmMapPopup {
	display: block;
	width: 210px;
	height: 100px;
	background-color: #ffffff;
	border: none;
	z-index: 30;
	font-family: "Arial", sans-serif;
	font-size: 13px;
	padding: 4px;
	border-radius: 5px;
	box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.5);
}


.gmMapEditPopup {
	font-size: 11px;
	font-family: sans-serif;
	display: block;
	width: 302px;
	height: 330px;
	background-color: #ffffff;
	border: none;
	z-index: 30;
	padding: 4px;
	border-radius: 5px;
	box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.5);
}

.gmMapPopupClose {
	position: absolute;
	top: 6px;
	right: 7px;
	cursor: pointer;
	background-color: transparent;
}

.gmMapEditPopup .gmMapPopupClose {
	border: 1px solid gray;
}

.gmMapPopupClose:hover {
	background-color: #ccc;
	box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.5);
}

.gmMapPopupTitle {
	font-weight: bold;
	font-size: 14px;
}

.gmMapPopupPos {
	font-size: 9px;
	padding-left: 10px;
}

.gmMapPopupEditLabel {
	text-align: right;
	width: 100%;
	color: #0000ff;
	cursor: pointer;
}

.gmMapPopupEditLabel:hover {
	background: #999999;
}

.gmMapPopupDesc {
	font-size: 10px;
	padding-left: 10px;
}

.gmMapPopupWikiPage {
	font-size: 11px;
	padding-left: 10px;
}

.gmMapPopupDownArrow {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #fff;
	top: -1px;
	position: relative;
	margin: 0 auto;	
}

.gmMapPathCanvas {
	position: absolute;
	z-index: 5;
	border: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: url(grab.cur) 8 8, default;
}

.gmMapAreaCanvas {
	position: absolute;
	z-index: 5;
	border: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}

#gmMapListContainer {
	position: absolute;
	left: 2px;
	top: 2px;
	width: 300px;
	bottom: 2px;
	border: 1px solid gray;
	list-style-type: none;
	z-index: 50;
	background-color: #ffffff;
}

#gmMapListGroup {
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	top: 22px;
	bottom: 0px;
	width: 100%;
	border: none;
	margin: 0;
	padding: 0;
}

#gmMapList {
	border: none;
	margin: 0;
	padding: 0;
	width: 298px;
	height: 100%;
	font: 13px sans-serif;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#gmMapListTitle {
	background-color: #cccccc;
	font-family: sans-serif;
	font-size: 12px;
	font-weight: bold;
	width: 299px;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
	text-align: center;
	border: 1px solid gray;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#gmMapListAlpha form {
	height: 100%;
}

#gmMapListAlphaSelect {
	width: 100%;
	height: 100%;
}

#gmMapListButtonGroup, #gmMapListButtonAlpha {
	cursor: pointer;
	width: 50px;
	height: 12px;
	line-height: 12px;
	font-size: 10px;
	background-color: #999999;
	border: 1px solid gray;
	float: right;
	display: inline-block;
	padding: 1px;
	margin-right: 2px;
	margin-top: 2px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.gmMapListButtonSelect
{
	background-color: #ffff99 !important;
}

#gmMapListButtonGroup:hover, #gmMapListButtonAlpha:hover {
	background-color: #eeeeee;
}

#gmMapListAlpha {
	position: absolute;
	top: 21px;
	bottom: 0px;
	width: 100%;
	border: none;
	margin: 0;
	padding: 0;
	font: 13px sans-serif;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


.gmMapListHeader {
	font-weight: bold;
	background-color: #eeeeee;
	color: #000000;
	background-image: url(images/uparrow.gif);
}

ul ul .gmMapListHeader {
	color: #666666;
	background-image: url(images/downarrow.gif);
}

#gmMapList ul {
	list-style-type: none;
	padding: 0;
    white-space: nowrap;
}

.gmMapListSelect {
	background-color: #0000cc;
	color: #ffffff;
}

#gmMapList li {
	list-style-type: none;
	padding-left: 0px;
	background-repeat: no-repeat;
	background-position: right 20px top 3px;
	text-wrap: none;
}

#gmMapList li:hover {
	background-color: #ccccff;
}

#gmMapList li.gmMapListSelect:hover {
	background-color: #3333cc;
}

#gmMapList .gmMapListHeader:hover {
	background-color: #cccccc;
}

#gmMapList ul li {
	padding-left: 15px;
}

#gmMapList ul ul {
	display: none;
}

#gmMapList ul ul li {
	padding-left: 30px;
}

#gmMapList ul ul ul li {
	padding-left: 45px;
}

#gmMapList ul ul ul ul li {
	padding-left: 60px;
}

#gmMapEditNotice {
	border: 1px solid gray;
	background: rgba(0,0,0,0.7);
	color: #ffff00;
	font-family: sans-serif;
	font-size: 12px;
	font-weight: bold;
	width: auto;
	height: auto;
	position: absolute;
	top: 5px;
	left: 310px;
	z-index: 200;
	padding: 5px;
	text-align: left;
	vertical-align: middle;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#gmMapEditNoticeCancel {
	float: right;
	cursor: pointer;
	color: #000000;
}

#gmMapEditNoticeFinish {
	float: right;
	cursor: pointer;
	color: #000000;
}

.gmMapEditPopupTitle {
	border-radius: 2px;
	display: inline-block;
	position: relative;
	width: 100%;
	background-color: #ccccff;
	height: 18px;
	line-height: 18px;
	font-size: 13px;
	font-family: sans-serif;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	margin-bottom: 5px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.gmMapEditPopupLabel {
	width: 90px;
	font-size: 11px;
	font-family: sans-serif;
	text-align: right;
	display: inline-block;
	position: relative;
	height: 18px;
	line-height: 18px;
	vertical-align: middle;
}

.gmMapEditPopupInput {
	left: 5px;
	font-size: 11px;
	font-family: sans-serif;
	display: inline-block;
	position: relative;
	height: 11px;
	padding-bottom: 2px;
}

.gmMapEditPopupCurrentZoom
{
	font-size: 9px;
	display: inline-block;
	position: relative;
	padding-left: 10px;
}

.gmMapEditPopupStatus {
	width: 100%;
	height: 24px;
	font-family: Arial, sans-serif;
	font-size: 10px;
	float: left;
}

.gmMapEditPopupStatusOk {
	background-color: none;
}

.gmMapEditPopupStatusNote {
	background-color: #99ff99;
}

.gmMapEditPopupStatusWarning {
	background-color: #ffff99;
}

.gmMapEditPopupStatusError {
	background-color: #ff9999;
}

.gmMapEditPopupButtons {
	font-family: Arial, sans-serif;
	font-size: 12px;
}

.gmMapEditPopupButtonSave {
	float: right;
	font-weight: bold;
}

.gmMapEditPopupButtonClose {
	float: right;
}

.gmMapEditPopupButtonDelete {
	float: left;
}

div.gmMapEditPopupInput {
	height: 16px;
	top: 1px;
}

.gmMapEditPopupIconPreview
{
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	position: absolute;
	height: 32px;
	width: 32px;
	left: 260px;
	top: 130px;
}


select.gmMapEditPopupInput {
	border: 1px solid gray;
	padding: 0;
	margin: 0;
	height: 17px;
	top: 1px;
	left: 5px;
	width: 160px;
	margin-bottom: 2px;
}

input.gmMapEditPopupInput {
	border: 1px solid gray;
	padding-left: 4px;
}

input[type=checkbox].gmMapEditPopupInput {
	position: relative;
	border: none;
	outline: none;
	margin: 0;
	text-align: left;
	height: 13px;
	width: 20px;
	right: 1px;
	top: 4px;
	font-family: Arial, sans-serif !important;
	font-size: 11px !important;
}

#gmMapRootClickWall {
	cursor: crosshair;
	z-index: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

#gmMapWorldEdit {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	font-size: 11px;
	font-family: sans-serif;
	display: block;
	width: 300px;
	height: 330px;
	background-color: #ffffff;
	border: none;
	z-index: 300;
	padding: 4px;
	border-radius: 5px;
	box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.5);
}


#gmMenuBar {
	display: inline-block;
	padding: 0px;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: #333333;
	z-index: 899;
	border-bottom: 1px solid #000;
}

#gmTitle {
	position: relative;
	top: 3px;
	left: 5px;
	display: inline;
	font-family: Arial;
	font-size: 20px;
	font-weight: bold;
	color: white;
	padding-right: 25px;
}

.gmMenuLinks {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
	outline: 0;
	background: transparent;
	vertical-align: baseline;
	font-family: Arial, sans-serif;
	font: 13px/27px Arial, sans-serif;
	color: #cccccc;
}

#gmMenuLinksRight {
	top: 0px;
	display: inline;
	float: right;
	right: 0;
	padding-right: 10px;
}

.gmMenuItem {
	cursor: pointer;
	position: relative;
	display: inline-block;
	line-height: 26px;
	padding-right: 5px;
	padding-left: 5px;
	vertical-align: top;
	text-align: -webkit-match-parent;
	border-top: 2px solid #cc0000;
}

.gmMenuItem:hover {
	background-color: #666;
}

.gmMenuItem a {
	cursor: pointer;
	display: block;
	text-decoration: none !important;
	color: #ccc;	
}

.gmMenuItem a:hover {
}

.gmLocToolTip {
	z-index: 45;
	position: absolute;
	border: 2px solid #606030;
	background-color: rgba(0,0,0,0.85);
	padding: 3px;
	display: inline-block;
	color: #ffffff;
	font-size: 11px;
	font-weight: bold;
	font-family: sans-serif;
	white-space: nowrap;
	border-image: url(images/tooltip-border.png) 2 2 2 2 stretch;
}

.gmMapIconTypeListContainer {
	display: inline-block;
	margin-left: 5px;
	margin-top: 2px;
}

.gmMapIconTypeListHeader {
	height: 16px;
	line-height: 16px;
	width: 154px;
	border: 1px solid gray;
	padding 2px;
	background-image: url(images/downarrow.gif);
	background-repeat: no-repeat;
	background-position: right 2px top 3px;
	text-wrap: none;
	display: block;
	padding-left: 4px;
}

.gmMapIconTypeListHeader:hover {
	background-color: #cccccc;
}

.gmMapIconTypeListHeaderOpen {
	background-image: url(images/uparrow.gif);
}

.gmMapIconTypeList {
	display: block;
	position: absolute;
	background-color: white;
	border: 1px solid gray;
	height: 250px;
	width: 185px;
	overflow-y: auto;
	overflow-x: hidden;
	margin: 0;
	padding: 2px;
	z-index: 2000;
}

.gmMapIconTypeList li {
	list-style-type: none;
	padding: 0;
	margin: 0;
	border: 0;
	width: 100%;
}

.gmMapIconTypeList li img {
	float: right;
	max-height: 20px;
}

.gmMapIconTypeValue {
	display: none;
}

.gmMapIconTypeLabel {
	display: inline-block;
	width: 100%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
	line-height: 20px;
	vertical-align: middle;
}

.gmMapIconTypeLabelSelected {
	background-color: #0000ff;
	color: #ffffff;
}

.gmMapIconTypeLabelSelected:hover {
	background-color: #0000cc;
}

.gmMapIconTypeLabel:hover {
	background-color: #999999;
}

.gmMapControlRoot {
	text-align: center;
	position: absolute;
	background-color: transparent;
	border: none;
	right: 2px;
	top: 2px;
	z-index: 100;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.gmMapControlZoom {
	display: block;
	width: 32px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	vertical-align: middle;
	font-size: 24px;
	border: 1px solid gray;
	background-color: #cccccc;
	color: #000;
	border-color:#bbb #888 #666 #aaa;
	border-width:2px 3px 3px 2px;
	margin: 0 auto;
	margin-top: 5px;
}

.gmMapControlZoomDisable {
	background-color: #999999;
	border-color:#888 #666 #333 #777;
}

.gmMapControlZoomHover:hover {
	background-color: #999999;
	border-color: #666 #aaa #bbb #888;
	border-width: 3px 2px 2px 3px;
}

.gmMapControlPan {
	display: inline-block;
	width: 24px;
	height: 24px;
	line-height: 24px;
	margin: 3px;
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
	border: solid gray 1px;
	background-color: #cccccc;
	color: #000;
	border-color:#bbb #888 #666 #aaa;
	border-width:2px 3px 3px 2px;
	margin: 0 auto;
}

.gmMapControlPanBreak {
	display: block;
}

.gmMapControlPan:hover {
	background-color: #999999;
	border-color: #666 #aaa #bbb #888;
	border-width: 3px 2px 2px 3px;
}

.gmMapSearchRoot {
	position: absolute;
	left: 2px;
	top: 2px;
	bottom: 2px;
	z-index: 100;
	font-family: Arial, sans-serif;
	font-size: 12px;
	pointer-events: none;
}

.gmMapSearchInputDiv {
	background-color: white;
	border: none;
	pointer-events: auto;
	height: 36px;
}

.gmMapSearchCheck {
	padding: 0;
	margin: 0;
	vertical-align: -2px;
}

.gmMapSearchButton {
	margin: 0;
	padding: 0;
}

.gmMapSearchInput {
	width: 250px;
	margin: 0;
	padding: 0;
	border: 2px inset;
    padding-left: 5px;
    border: none;
    -webkit-appearance: none;
    background-color: transparent;
    outline: none;
    font-size: 14px;
}

.gmMapSearchSmall {
	font-size: 11px;
	vertical-align: middle;
	line-height: 16px;
	height: 16px;
	text-align: center;
}

.gmMapSearchResults {
	pointer-events: visible;
}

.gmMapSearchResultsWrapper {
	position: absolute;
	top: 36px;
	bottom: 20px;
	width: 100%;
	pointer-events: none;
}

.gmMapSearchResults {
	background-color: white;
	border: 1px solid gray;
	position: relative;
	top: 0px;
	left: 0px;
	overflow: auto;
	height: 100%;
}

.gmMapSearchResultsButton {
	background-color: #cccccc;
	color: #666666;
	height: 18px;
	line-height: 18px;
	text-align: center;
	vertical-align: middle;
	border-style: solid;
	border-color: #bbb #888 #666 #aaa;
	border-width: 1px 2px 2px 1px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: visible;
	cursor: default;
	position: relative;
	top: 0px;
	left: 0px;
	
}

.gmMapSearchResultsButton:hover {
	background-color: #999999;
	border-color: #666 #aaa #bbb #888;
	border-width: 2px 1px 1px 2px;
}

.gmMapSearchResultsButtonLabel {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	cursor: default;
}

.gmMapSearchResultsButtonImage {
	cursor: default;
}

.gmMapSearchResultLocation {
	cursor: pointer;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
	white-space: nowrap;
}

.gmMapSearchResultLocation:hover {
	background-color: #cccccc;
}

.gmMapSearchResultWorld {
	cursor: pointer;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
	white-space: nowrap;
	font-weight: bold;
}

.gmMapSearchResultWorld:hover {
	background-color: #cccccc;
}

.gmMapSearchResultIcon {
	display: inline-block;
	max-height: 16px;
	width: 16px;
	vertical-align: middle;
}

.gmMapSearchResultTitle {
	display: inline-block;
}

.gmMapSearchResultLocWorld {
	display: inline-block;
	font-size: 9px;
}

.gmMapKey {
	background-color: #EBDDB4;
	border: 1px solid gray;
	color: #000000;
	font-family: sans-serif;
	font-size: 12px;
	position: absolute;
	top: 10px;
	left: 325px;
	z-index: 150;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 5px;
	overflow-y: auto;
    max-height: 95%;
}

.gmMapKeyCloseButton {
	position: absolute;
    right: 5px;
    top: 5px;
}

.gmMapKeyContainer {

}

.gmMapKeyColumn {
	float: left;
	margin 0;
	padding-left: 5px;
}

.gmMapKeyTitle {
	font-size: 18px;
	font-weight: bold;
	display: inline-block;
	width: 100%;
	text-align: center;
}

.gmMapKeyItem {
	display: inline-block;
	line-height: 30px;
	height: 30px;
}

.gmMapKeyImageImage
{
	width: 32px;
	display: inline-block;
	vertical-align: middle;
}

.gmMapKeyItem img {
	vertical-align: middle;	
	display: block;
	margin: auto auto;
}

.gmMapKeyItemLabel {
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
}

#gmMapNameLabel {
	overflow: hidden;
	white-space: nowrap;
	font-weight: bold;
	font-size: 14px;
	color: #ffff99;
	width: 320px;
	background-repeat: no-repeat;
	background-position: right 4px top 8px;
	background-image: url(images/downarrow.gif)
}

.gmMapNameLabelUpArrow {
	background-image: url(images/uparrow.gif) !important;
}

#gmMapListRoot {
	position: absolute;
	left: 325px;
	height: 600px;
	width: 252px;
}

#gmMapEditButtons {
	display: inline-block;
	text-align: center;
}

html {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	width: 100%;
	height: 100%;
}

#gmMapBox {
	
}

.gmToggleButton {
	display: inline-block;
	background: #eee;
	cursor: pointer;
	border-top: solid 2px #eaeaea;
	border-left: solid 2px #eaeaea;
	border-bottom: solid 2px #777;
	border-right: solid 2px #777;
	padding: 1px 1px;
	margin: 2px;
	height: 17px;
	font-family: arial, sans-serif;
	font-size: 13px;
	color: black;
	line-height: 16px;
}

.gmToggleButtonDown {
	background: #bbb;
	border-top: solid 2px #777;
	border-left: solid 2px #777;
	border-bottom:solid 2px  #eaeaea;
	border-right: solid 2px #eaeaea;
}

.gmMapRCRoot {
	position: absolute;
	right: 2px;
	top: 30px;
	bottom: 2px;
	z-index: 100;
	font-family: Arial, sans-serif;
	font-size: 12px;
	z-index: 75;
	overflow: auto;
	padding: 2px;
}

.gmMapRCItemIcon {
	max-height: 20px;
	vertical-align: middle;
}

.gmMapRCItem {
	display: block;
	white-space: nowrap;
	padding: 1px;
}

.gmMapRCItem:hover {
	background-color: #3333ff;
	color: #ffffff;
}

.gmMapRCItemName {
	display: inline-block;
}

.gmMapRCItemSmall {
	display: inline-block;
	font-size: 11px;
}

.gmHelpBlock {
	background-color: #EBDDB4;
	border: 1px solid gray;
	color: #000000;
	font-family: sans-serif;
	font-size: 12px;
	position: absolute;
	top: 50px;
	margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 500px;
	z-index: 150;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 5px;
}

.gmHelpCloseButton {
	float: right;
}

.gmHelpBlockTitle {
	font-size: 18px;
	font-weight: bold;
	display: inline-block;
	width: 400px;
	text-align: center;
}

.gmLocTooltipDesc {
	font-weight: normal;
	font-size: 0.9em;
}

#gmMapRoot, #gmMapCanvas {
	touch-action: none;
}

#gmMapRoot {
	z-index: 3;
}

#gmMapCanvas, #gmMapCanvasGrid {
	touch-action: none;
	position: absolute;
	top: 0px;
	left: 0px;
}

#gmMapCanvas {
	z-index: 1;
}

#gmMapCanvasGrid {
	z-index: 2;
}

.gmMenuForm {
	display: inline;
}

#gmCellResourceGuide {
	display: block;
	position: absolute;
	z-index: 4;
}

.gmCRGuideBox1 {
	display: inline-block;
	background-color: #ff00ff;
	text-align: center;
	text-shadow: 1px 1px black;
	width: 36px;
}

.gmCRGuideBox2 {
	display: inline-block;
	background-color: #0000ff;
	text-align: center;
	text-shadow: 1px 1px black;
	width: 36px;
}

.gmCRGuideBox3 {
	display: inline-block;
	background-color: #00ff00;
	text-align: center;
	text-shadow: 1px 1px black;
	width: 36px;
}

.gmCRGuideBox4 {
	display: inline-block;
	background-color: #ffff00;
	text-align: center;
	text-shadow: 1px 1px black;
	width: 36px;
}

.gmCRGuideBox5 {
	display: inline-block;
	background-color: #ff6633;
	text-align: center;
	text-shadow: 1px 1px black;
	width: 36px;
}

.gmCRGuideBox6 {
	display: inline-block;
	background-color: #ff0000;
	text-align: center;
	text-shadow: 1px 1px black;
	width: 36px;
}

.gmMapControlDisplayStates {
	margin: 4px;
}

.gmMapControlDisplayState {
    direction: ltr;
    overflow: hidden;
    text-align: center;
    height: 30px;
    display: block;
    vertical-align: middle;
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    user-select: none;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    padding: 0px 23px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    background-clip: padding-box;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    min-width: 25px;
    font-weight: normal;
    cursor: pointer;
    line-height: 30px;
    margin: 2px;
}

.gmMapControlDisplayState:hover {
	background-color: rgb(200, 200, 200);
}

.gmMapControlDisplayStateSelected {
	font-weight: bold;
	background-color: rgb(255, 255, 128);
}

.gmMapSearchButton {
    background-image: none;
    background: none;
    border: medium none;
    cursor: pointer;
    margin: 0;
    padding: 0.2em 0.4em 0.2em 0.2em;
    width: 20px;
    outline: none;
    margin: 2px;
}

.gmSearchResetButton {
    background-image: none;
    background: none;
    border: medium none;
    cursor: pointer;
    margin: 0;
    padding: 0.2em 0.4em 0.2em 0.15em;
    width: 16px;
    outline: none;
    margin: 2px;
}

.gmMapSearchButton:hover,
.gmSearchResetButton:hover {
	background-color: #ccc;
}