#gmMap {
	bottom: 2px;
	top: 30px;
	border: solid black 1px;
	overflow: hidden;
	position: absolute;
	left: 205px;
	right: 2px;
}

#gmMapContainer {
	width: 100%;
	height: 100%;
	border: solid blue 1px;
	position: absolute;
}

.gmMapTile {
	width:256px;
	height:256px;
	border: none;
	position: absolute;
	z-index: 1;
	cursor: url(grab.cur) 8 8, default;
}

.gmMapLoc {
	position: absolute;
	white-space: nowrap;
	z-index: 10;
	color: #ffff00;
	font-weight: 400;
	font-family: "Arial", sans-serif;
	font-size: 11px;
	text-shadow: 0px 0px 2px #000000;
	background-color: rgba(0,0,0,0.2);
	display: inline-block;
	box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);
	cursor: pointer;
}

.gmMapLocIconDiv {
	width: 16px;
	height: 16px;
	position: absolute;
	z-index: 9;
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
	border: none;
	text-align: center;
}

.gmMapLocIconHelper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.gmMapLocIcon {
	display: inline-block;
	border: none;
	cursor: pointer;
}

.gmMapPopupRoot {
	display: block;
	position: absolute;
	z-index: 20;
}

.gmMapPopup {
	display: block;
	width: 210px;
	height: 100px;
	background-color: #ffffff;
	border: none;
	z-index: 20;
	font-family: "Arial", sans-serif;
	font-size: 13px;
	padding: 4px;
	border-radius: 5px;
	box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.5);
}

.gmMapPopupClose {
	float: right;
	cursor: pointer;
	background-color: transparent;
}

.gmMapPopupClose:hover {
	background-color: #ccc;
	box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.5);
}

.gmMapPopupTitle {
	font-weight: bold;
	font-size: 14px;
}

.gmMapPopupPos {
	font-size: 9px;
	padding-left: 10px;
}

.gmMapPopupDesc {
	font-size: 10px;
	padding-left: 10px;
}

.gmMapPopupWikiPage {
	font-size: 11px;
	padding-left: 10px;
}

.gmMapPopupDownArrow {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #fff;
	top: -1px;
	position: relative;
	margin: 0 auto;	
}

.gmMapPathCanvas {
	position: absolute;
	z-index: 5;
	border: none;
}

#MapListContainer {
	position: absolute;
	left: 2px;
	top: 30px;
	width: 200px;
	bottom: 2px;
	border: solid 1px gray;
	list-style-type: none;
	overflow-x: hidden;
	overflow-y: auto;
}

#MapList {
	border: none;
	margin: 0;
	padding: 0;
	width: 198px;
	height: 100%;
	font: 13px sans-serif;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


.MapListHeader {
	font-weight: bold;
	background-color: #eeeeee;
	color: #cc0000;
}

ul ul .MapListHeader {
	color: #660000;
}

#MapList ul {
	list-style-type: none;
	padding: 0;
}

.MapListSelect {
	background-color: #3333ff;
	color: #ffffff;
}

#MapList li {
	list-style-type: none;
	padding-left: 0px;
}

#MapList li:hover {
	background-color: #ccccff;
}

#MapList li.MapListSelect:hover {
	background-color: #0000cc;
}

#MapList .MapListHeader:hover {
	background-color: #cccccc;
}

#MapList ul li {
	padding-left: 15px;
}

#MapList ul ul {
	display: none;
}

#MapList ul ul li {
	padding-left: 30px;
}

#MapList ul ul ul li {
	padding-left: 45px;
}

#MapList ul ul ul ul li {
	padding-left: 60px;
}




}