#gmMap {
	bottom: 2px;
	top: 40px;
	border: solid black 1px;
	overflow: hidden;
	position: absolute;
	left: 205px;
	right: 2px;
}

#gmMapContainer {
	width: 100%;
	height: 100%;
	border: solid blue 1px;
	position: absolute;
}

.gmMapTile {
	width:256px;
	height:256px;
	border: none;
	position: absolute;
	z-index: 1;
	cursor: url(grab.cur) 8 8, default;
}

.gmMapLoc {
	position: absolute;
	white-space: nowrap;
	z-index: 10;
	color: #ffff00;
	font-weight: 400;
	font-family: "Arial", sans-serif;
	font-size: 11px;
	text-shadow: 0px 0px 2px #000000;
	background-color: rgba(0,0,0,0.2);
	display: inline-block;
	box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);
	cursor: pointer;
}

.gmMapLocIconDiv {
	width: 32px;
	height: 32px;
	position: absolute;
	z-index: 9;
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
	border: none;
	text-align: center;
}

.gmMapLocIconHelper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.gmMapLocIcon {
	display: inline-block;
	border: none;
	cursor: pointer;
}

.gmMapPopupRoot {
	display: block;
	position: absolute;
	z-index: 20;
}

.gmMapPopup {
	display: block;
	width: 210px;
	height: 100px;
	background-color: #ffffff;
	border: none;
	z-index: 20;
	font-family: "Arial", sans-serif;
	font-size: 13px;
	padding: 4px;
	border-radius: 5px;
	box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.5);
}


.gmMapEditPopup {
	display: block;
	width: 280px;
	height: 300px;
	background-color: #ffffff;
	border: none;
	z-index: 20;
	font-family: "Arial", sans-serif;
	font-size: 13px;
	padding: 4px;
	border-radius: 5px;
	box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.5);
}

.gmMapPopupClose {
	float: right;
	cursor: pointer;
	background-color: transparent;
}

.gmMapPopupClose:hover {
	background-color: #ccc;
	box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.5);
}

.gmMapPopupTitle {
	font-weight: bold;
	font-size: 14px;
}

.gmMapPopupPos {
	font-size: 9px;
	padding-left: 10px;
}

.gmMapPopupEditLabel {
	text-align: right;
	width: 100%;
	color: #0000ff;
	cursor: pointer;
}

.gmMapPopupEditLabel:hover {
	background: #999999;
}

.gmMapPopupDesc {
	font-size: 10px;
	padding-left: 10px;
}

.gmMapPopupWikiPage {
	font-size: 11px;
	padding-left: 10px;
}

.gmMapPopupDownArrow {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #fff;
	top: -1px;
	position: relative;
	margin: 0 auto;	
}

.gmMapPathCanvas {
	position: absolute;
	z-index: 5;
	border: none;
}

#MapListContainer {
	position: absolute;
	left: 2px;
	top: 40px;
	width: 200px;
	bottom: 2px;
	border: solid 1px gray;
	list-style-type: none;
	overflow-x: hidden;
	overflow-y: auto;
}

#MapList {
	border: none;
	margin: 0;
	padding: 0;
	width: 198px;
	height: 100%;
	font: 13px sans-serif;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


.MapListHeader {
	font-weight: bold;
	background-color: #eeeeee;
	color: #cc0000;
}

ul ul .MapListHeader {
	color: #660000;
}

#MapList ul {
	list-style-type: none;
	padding: 0;
}

.MapListSelect {
	background-color: #3333ff;
	color: #ffffff;
}

#MapList li {
	list-style-type: none;
	padding-left: 0px;
}

#MapList li:hover {
	background-color: #ccccff;
}

#MapList li.MapListSelect:hover {
	background-color: #0000cc;
}

#MapList .MapListHeader:hover {
	background-color: #cccccc;
}

#MapList ul li {
	padding-left: 15px;
}

#MapList ul ul {
	display: none;
}

#MapList ul ul li {
	padding-left: 30px;
}

#MapList ul ul ul li {
	padding-left: 45px;
}

#MapList ul ul ul ul li {
	padding-left: 60px;
}


#gmMapEditNotice {
	border: solid gray 1px;
	background: rgba(0,0,0,0.7);
	color: #9999ff;
	font-family: sans-serif;
	font-size: 12px;
	font-weight: bold;
	width: 600px;
	height: 25px;
	line-height: 25px;
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 200;
	text-align: center;
	vertical-align: middle;
}

#gmMapEditNoticeCancel {
	float: right;
	cursor: pointer;
	color: #000000;
}

#gmMapEditNoticeFinish {
	float: right;
	cursor: pointer;
	color: #000000;
}

.gmCrosshairCursor {
	cursor: crosshair !important;
}

.gmMapEditPopupTitle {
	display: inline-block;
	position: relative;
	width: 240px;
	background-color: #ccccff;
	height: 18px;
	line-height: 18px;
	font-size: 13px;
	font-family: sans-serif;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

.gmMapEditPopupLabel {
	width: 90px;
	font-size: 11px;
	font-family: sans-serif;
	text-align: right;
	display: inline-block;
	position: relative;
	height: 16px;
	line-height: 16px;
	vertical-align: middle;
}

.gmMapEditPopupInput {
	left: 5px;
	font-size: 11px;
	font-family: sans-serif;
	display: inline-block;
	position: relative;
	height: 11px;
	padding-bottom: 2px;
}


.gmMapEditPopupStatus {
	width: 100%;
	height: 24px;
	font-family: Arial, sans-serif;
	font-size: 10px;
	float: left;
}

.gmMapEditPopupStatusOk {
	background-color: none;
}

.gmMapEditPopupStatusNote {
	background-color: #99ff99;
}

.gmMapEditPopupStatusWarning {
	background-color: #ffff99;
}

.gmMapEditPopupStatusError {
	background-color: #ff9999;
}

.gmMapEditPopupButtons {
	font-family: Arial, sans-serif;
	font-size: 12px;
}

.gmMapEditPopupButtonSave {
	float: right;
	font-weight: bold;
}

.gmMapEditPopupButtonClose {
	float: right;
}

.gmMapEditPopupButtonDelete {
	float: left;
}

div.gmMapEditPopupInput {
	height: 16px;
	top: 1px;
}


.gmMapEditPopupIconPreview
{
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	position: absolute;
	height: 32px;
	width: 32px;
	left: 250px;
	top: 130px;
}


select.gmMapEditPopupInput {
	height: 18px;
	top: 1px;
	left: 7px;
	width: 150px;
}

input[type=checkbox].gmMapEditPopupInput {
	position: relative;
	border: none;
	outline: none;
	margin: 0;
	text-align: left;
	height: 13px;
	width: 20px;
	right: 1px;
	top: 4px;
	font-family: Arial, sans-serif !important;
	font-size: 11px !important;
}