.gmMapLocIconDiv {
	background-color: rgba(0,0,0,0.3);
    box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.4);
    border-radius: 6px;
}

.gmMapSearchInputDiv {
	height: 21px;
}

.gmMapSearchResultsWrapper {
	top: 21px;
}

.gmMapSearchResultIcon {
    width: auto;
    margin: 4px;
}

.gmMapSearchResultLocWorld {
	display: none;
}

.gmMapLoc {
	color: #ffff00;
}

.gmMapSearchInput {
    position: relative;
    top: -3px;
}