/* Import Material Design Icons */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");


html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	background-color: var(--surface_dark_variant_dark);
	margin: 0;
}

/*================================================
					 General
================================================*/

/* prevent icons being selectable */
.material-icons {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* hide these elements by default */
.onlymobile {
	display: none !important;
}
.hidedefault {
	visibility: hidden;
}
.banishdefault {
	display: none;
}

::placeholder {
	color: var(--text_low_emphasis);
}

.horizontal_divider {
	background: var(--divider);
	height: 1.8px;
	margin: 0 auto;
	margin-top: 2px;
	margin-bottom: 2px;
	width: 75%;
}

/*================================================
					Accessibility
================================================*/

/* disable animations for browsers requesting reduced motion */
@media (prefers-reduced-motion) {
	* {
		transition: none 0ms !important;
		animation: none !important;
	}
}

/*================================================
				   Mobile CSS
================================================*/

@media only screen and (max-device-width:900px) {

	#location_switcher_root {
		left: calc(50% - var(--appbar_dimen) + var(--padding_large)) !important;
		width: 75% !important;
	}

	#location_switcher_root:before {
		left: calc(100% - 2px) !important;
		top: 15px !important;
		transform: rotate(180deg) !important;
	}

	.search_root {
		width: 100% !important;
	}

	.search_container {
		width: calc(100% - 80px) !important;
  	}

	.layer_widget_root {
		max-width: calc(100% - 80px) !important;
	}



	/* hide these elements on mobile */
	[class*='nomobile'] {
		display: none !important;
	}

	/* show these elements only on mobile */
	[class*='onlymobile'] {
		display: inline-block !important;
	}

	div[class^="icon_bar"] {
		flex-direction: column !important;
		width: var(--appbar_dimen) !important;
	}

	.icon_bar_responsive {
		flex-direction: column !important;
	}

}

@media only screen and (min-width: 0) {
	html {
	  font-size: 14px;
	}
  }
  @media only screen and (min-width: 993px) {
	html {
	  font-size: 14.5px;
	}
  }
  @media only screen and (min-width: 1201px) {
	html {
	  font-size: 15px;
	}
  }

/*================================================
					Colours
================================================*/

:root {
	/* surface colours */
	--background: #000000;
	--background_dark: #1D1D1D;

	--surface: #FBF1DA;
	--surface_variant: #eee5cf;
	--surface_variant_dark: #F7E9CB;

	--surface_dark: #2E2E2E;
	--surface_dark_variant: #353535;
	--surface_dark_variant_dark: #252525;

	--primary: #f8f2e1;
	--primary_variant:#e5dfd0;
	--primary_variant_light: #faf4e6;
	--primary_variant_dark: #E6DDC5;

	--primary_dark: #3E3E3E;
	--primary_dark_variant: #373737;

	--highlight_dark:#6B5F50;
	--highlight_light: #FFE893;

	/* text colours */
	--text_loc_name: #33ff33;
	--text_link: rgba(138,90,68,1);
	--text_on_primary: black;
	--text_on_secondary: white;
	--text_low_emphasis: #474747;

	/* misc colours */
	--divider: rgba(164, 163, 163, 0.30);
	--shadow: rgba(0, 0, 0, 0.35);
	--secondary: #8a5a44;
	--secondary_variant: #A69480;
  	--selection: rgba(138, 90, 68, 0.152);
	--bubble_selection: rgba(84, 84, 84, 0.5);
	--error: #C2571B;
	--error_dark: #DD8A5B;
}

/*================================================
					Dimensions
================================================*/

:root {
	/* heights, widths, and volume */
	--appbar_dimen: 48px;
	--layer_widget_dimen: 64px;
	--search_pane_width: 420px;
	--zindex_floating: 900;
	--zindex_overlay: 9998;

	/* padding */
	--padding_minimum: 8px;
	--padding_small: 12px;
	--padding_medium: 16px;
	--padding_large: 32px;
}

/*================================================
					  Fonts
================================================*/

@font-face {
	font-family: 'wikiType';
	src: url('../assets/fonts/Goudy_Medieval_Alternate.ttf') format('embedded-opentype'), /* Internet Explorer */
		 url('../assets/fonts/Goudy_Medieval_Alternate.ttf') format('woff2'),             /* Super Modern Browsers */
		 url('../assets/fonts/Goudy_Medieval_Alternate.ttf') format('woff'),              /* Pretty Modern Browsers */
		 url('../assets/fonts/Goudy_Medieval_Alternate.ttf') format('truetype'),          /* Safari, Android, iOS */
		 url('../assets/fonts/Goudy_Medieval_Alternate.ttf') format('svg');               /* Legacy iOS */
}

body {
	line-height: 1.5;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-weight: normal;
	color: rgba(0, 0, 0, 0.87);
}

.wikiTitle{
	font-family: 'wikiType', Arial, sans-serif;
}


/*!
 * Waves v0.7.6
 * http://fian.my.id/Waves
 *
 * Copyright 2014-2018 Alfiana E. Sibuea and other contributors
 * Released under the MIT license
 * https://github.com/fians/Waves/blob/master/LICENSE */
 .waves-effect {
	position: relative;
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
  }
  .waves-effect .waves-ripple {
	position: absolute;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	margin-top: -50px;
	margin-left: -50px;
	opacity: 0;
	background: rgba(0, 0, 0, 0.2);
	background: radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	-webkit-transition-property: -webkit-transform, opacity;
	-webkit-transition-property: opacity, -webkit-transform;
	transition-property: opacity, -webkit-transform;
	transition-property: transform, opacity;
	transition-property: transform, opacity, -webkit-transform;
	-webkit-transform: scale(0) translate(0, 0);
	transform: scale(0) translate(0, 0);
	pointer-events: none;
  }
  .waves-effect.waves-light .waves-ripple {
	background: rgba(255, 255, 255, 0.4);
	background: radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  }
  .waves-effect.waves-classic .waves-ripple {
	background: rgba(0, 0, 0, 0.2);
  }
  .waves-effect.waves-classic.waves-light .waves-ripple {
	background: rgba(255, 255, 255, 0.4);
  }
  .waves-effect.waves-light .waves-ripple {
	background-color: rgba(255, 255, 255, 0.45);
  }
  .waves-effect.waves-red .waves-ripple {
	background-color: rgba(244, 67, 54, 0.7);
  }
  .waves-effect.waves-yellow .waves-ripple {
	background-color: rgba(255, 235, 59, 0.7);
  }
  .waves-effect.waves-orange .waves-ripple {
	background-color: rgba(255, 152, 0, 0.7);
  }
  .waves-effect.waves-purple .waves-ripple {
	background-color: rgba(156, 39, 176, 0.7);
  }
  .waves-effect.waves-green .waves-ripple {
	background-color: rgba(76, 175, 80, 0.7);
  }
  .waves-effect.waves-teal .waves-ripple {
	background-color: rgba(0, 150, 136, 0.7);
  }
  .waves-effect input[type=button], .waves-effect input[type=reset], .waves-effect input[type=submit] {
	border: 0;
	font-style: normal;
	font-size: inherit;
	text-transform: inherit;
	background: none;
  }

  .waves-notransition {
	-webkit-transition: none !important;
	transition: none !important;
  }

  .waves-button,
  .waves-circle {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
  }

  .waves-button,
  .waves-button:hover,
  .waves-button:visited,
  .waves-button-input {
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: none;
	outline: none;
	color: inherit;
	background-color: rgba(0, 0, 0, 0);
	font-size: 1em;
	line-height: 1em;
	text-align: center;
	text-decoration: none;
	z-index: 1;
  }

  .waves-button {
	padding: 0.85em 1.1em;
	border-radius: 0.2em;
  }

  .waves-button-input {
	margin: 0;
	padding: 0.85em 1.1em;
  }

  .waves-input-wrapper {
	border-radius: 0.2em;
	vertical-align: bottom;
  }
  .waves-input-wrapper.waves-button {
	padding: 0;
  }
  .waves-input-wrapper .waves-button-input {
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
  }

  .waves-circle {
	text-align: center;
	width: 2.5em;
	height: 2.5em;
	line-height: 2.5em;
	border-radius: 50%;
  }

  .waves-float {
	mask-image: none;
	-webkit-mask-image: none;
	-webkit-box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
	box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
	-webkit-transition: all 300ms;
	transition: all 300ms;
  }
  .waves-float:active {
	-webkit-box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3);
  }

  .waves-block {
	display: block;
  }