/* Import Material Design CSS */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://cdn.jsdelivr.net/npm/@materializecss/materialize@1.2.1/dist/css/materialize.min.css");
@import url("https://unpkg.com/leaflet@1.9.3/dist/leaflet.css");

/*================================================
					Colours
================================================*/

:root {
	/* surface colours */
	--background: #000000;
	--background_dark: #1D1D1D;

	--surface: #FBF1DA;
	--surface_variant: #eee5cf;
	--surface_variant_dark: #F7E9CB;

	--surface_dark: #2E2E2E;
	--surface_dark_variant: #353535;
	--surface_dark_variant_dark: #252525;

	--primary: #f8f2e1;
	--primary_variant:#e5dfd0;
	--primary_variant_light: #faf4e6;
	--primary_variant_dark: #E6DDC5;

	--primary_dark: #3E3E3E;
	--primary_dark_variant: #373737;

	--highlight_dark:#6B5F50;
	--highlight_light: #FFE893;

	/* text colours */
	--text_loc_name: #33ff33;
	--text_link: rgba(138,90,68,1);
	--text_on_primary: black;
	--text_on_secondary: white;
	--text_low_emphasis: #474747;

	/* misc colours */
	--divider: rgba(164, 163, 163, 0.30);
	--shadow: rgba(0, 0, 0, 0.35);
	--secondary: #8a5a44;
	--secondary_variant: #A69480;
  	--selection: rgba(138, 90, 68, 0.152);
	--bubble_selection: rgba(84, 84, 84, 0.5);
	--error: #C2571B;
	--error_dark: #DD8A5B;
}

/*================================================
					Dimensions
================================================*/

:root {
	/* heights, widths, and volume */
	--appbar_dimen: 48px;
	--layer_widget_dimen: 64px;
	--search_pane_width: 420px;
	--zindex_floating: 900;
	--zindex_overlay: 9998;

	/* padding */
	--padding_minimum: 8px;
	--padding_small: 12px;
	--padding_medium: 16px;
	--padding_large: 32px;
}

/*================================================
					  Fonts
================================================*/

@font-face {
	font-family: 'wikiType';
	src: url('../assets/fonts/Goudy_Medieval_Alternate.ttf') format('embedded-opentype'), /* Internet Explorer */
		 url('../assets/fonts/Goudy_Medieval_Alternate.ttf') format('woff2'),             /* Super Modern Browsers */
		 url('../assets/fonts/Goudy_Medieval_Alternate.ttf') format('woff'),              /* Pretty Modern Browsers */
		 url('../assets/fonts/Goudy_Medieval_Alternate.ttf') format('truetype'),          /* Safari, Android, iOS */
		 url('../assets/fonts/Goudy_Medieval_Alternate.ttf') format('svg');               /* Legacy iOS */
}

body {
	line-height: 1.5;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-weight: normal;
	color: rgba(0, 0, 0, 0.87);
}

.wikiTitle{
	font-family: 'wikiType', Arial, sans-serif;
}


/*================================================
					 General
================================================*/

html, body, main {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

body {
	background-color: var(--surface_dark_variant_dark);
}

#gamemap {
	top: 0px;
	position: absolute;
	width: inherit;
	height: inherit;
}

/* prevent icons being selectable */
.material-icons {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* hide these elements by default */
.onlymobile {
	display: none !important;
}
.hidedefault {
	visibility: hidden;
}
.banishdefault {
	display: none;
}

::placeholder {
	color: var(--text_low_emphasis);
}

.horizontal_divider {
	background: var(--divider);
	height: 1.8px;
	margin: 0 auto;
	margin-top: 2px;
	margin-bottom: 2px;
	width: 75%;
}

/*================================================
					Accessibility
================================================*/

/* disable animations for browsers requesting reduced motion */
@media (prefers-reduced-motion) {
	* {
		transition: none 0ms !important;
		animation: none !important;
	}
}

/*================================================
				   Mobile CSS
================================================*/

@media only screen and (max-device-width:900px) {

	#location_switcher_root {
		left: calc(50% - var(--appbar_dimen) + var(--padding_large)) !important;
		width: 75% !important;
	}

	#location_switcher_root:before {
		left: calc(100% - 2px) !important;
		top: 15px !important;
		transform: rotate(180deg) !important;
	}

	.search_root {
		width: 100% !important;
	}

	.search_container {
		width: calc(100% - 80px) !important;
  	}

	.layer_widget_root {
		max-width: calc(100% - 80px) !important;
	}

	/* hide these elements on mobile */
	[class*='nomobile'] {
		display: none !important;
	}

	/* show these elements only on mobile */
	[class*='onlymobile'] {
		display: inline-block !important;
	}

	div[class^="icon_bar"] {
		flex-direction: column !important;
		width: var(--appbar_dimen) !important;
	}

	.icon_bar_responsive {
		flex-direction: column !important;
	}

}

@media only screen and (min-width: 0) {
	html {
	  font-size: 14px;
	}
  }
  @media only screen and (min-width: 993px) {
	html {
	  font-size: 14.5px;
	}
  }
  @media only screen and (min-width: 1201px) {
	html {
	  font-size: 15px;
	}
  }

/*================================================
					Gamemap
================================================*/

#gamemap {
	position: absolute;
	overflow: hidden;
	bottom: 0px;
	top: 0px;
	left: 0px;
	right: 0px;
	background-color: var(--background_dark);
}

#gamemap * {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.location-label {
	border-radius: var(--padding_large);
	position: absolute;
	white-space: nowrap;
	z-index: 20;
	color: var(--text_loc_name);
	font-weight: bolder;
	font-family: "Arial", sans-serif;
	font-size: 11px;
	text-shadow: 0px 0px 5px var(--background);
	background-color: var(--shadow);
	display: inline-block;
	border: none;
	box-shadow: 0px 0px 10px 6px var(--shadow);
	cursor: pointer;
	padding: 0px !important;
}

.leaflet-interactive {
	animation: fadein 0.3s;
}

.location-tooltip {
	z-index: 45;
	position: absolute;
	border: 2px solid #606030;
	background-color: rgba(0,0,0,0.85);
	padding: 3px;
	display: inline-block;
	color: #ffffff;
	font-size: 11px;
	font-weight: bold;
	font-family: sans-serif;
	white-space: nowrap;
	border-image: url(../assets/images/tooltip-border.png) 2 2 2 2 stretch;
}

.leaflet-tooltip::before {
	display: none;
}


.tooltip-desc {
	font-weight: normal;
	font-size: 0.9em;
}

.leaflet-marker-icon {
	-webkit-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
}

.cellGrid {
	opacity: 0.45;
}

/*================================================
				 	 Pop-ups
================================================*/

.leaflet-popup-content-wrapper {
	display: block;
	background-color: var(--surface);
	border: none;
	z-index: 30;
	font-family: "Arial", sans-serif;
	font-size: 13px;
	padding: 4px;
	box-shadow: 0px 0px 2px 2px var(--shadow);
}

.leaflet-popup-content {
	margin: 13px var(--padding_minimum) 13px var(--padding_minimum);
}

.leaflet-popup-tip {
	box-shadow: 0px 0px 2px 2px var(--shadow);
	background-color: var(--surface);
}

.popupTitle a {
	font-weight: bolder;
	font-size: 14px;
	color: var(--text_low_emphasis);
}

.popupTitle a[href] {
	color: #0078A8;
}

.popupTitle a[href]:hover {
	text-decoration: underline !important;
}

.popupDesc, .popupDesc * {
	color: var(--text_on_primary);
	font-size: 10px;
	user-select: text !important;
}

.popupInfo, .popupInfo * {
	font-size: 9px;
	color: var(--text_low_emphasis);
	user-select: text !important;
}

hr {
	border: 0;
	border-top: 3px solid var(--divider);
}

.popupEditButton {
	margin-top: 10px;
	text-align: center;
	font-weight: normal;
	width: 100%;
	color: var(--text_link);
	cursor: pointer;
}

.popupEditButton:hover {
	background: var(--selection);
}

.popupEditButton:active {
	background: var(--bubble_selection);
}

/*================================================
				   	Infobar
================================================*/

.leaflet-control-attribution {
	position: fixed;
	background: var(--primary_dark_variant) !important;
	z-index: 1000;
	bottom: 0;
	right: 0;
	width: auto;
	padding: 3px;
	padding-left: 12px;
	padding-right: 12px;
	border-radius: 12px 0px 0px 0px;
	font-size: 12px;
	color: white;
	opacity: 0.45;
	transition: opacity ease-in-out 150ms;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

.leaflet-control-attribution:hover {
	opacity: 1.0;
}

.leaflet-control-attribution a {
	text-decoration: none !important;
	color: white;
}

.leaflet-control-attribution a:hover {
	text-decoration: underline;
	border-bottom: solid white;
	border-width: medium;
}