/*================================================
					Colours
================================================*/

:root {
	/* surface colours */
	--background: #000000;
	--background_dark: #1D1D1D;

	--surface: #FBF1DA;
	--surface_variant: #eee5cf;
	--surface_variant_dark: #F7E9CB;

	--surface_dark: #2E2E2E;
	--surface_dark_variant: #353535;
	--surface_dark_variant_dark: #252525;

	--primary: #f8f2e1;
	--primary_variant:#e5dfd0;
	--primary_variant_light: #faf4e6;
	--primary_variant_dark: #E6DDC5;

	--primary_dark: #3E3E3E;
	--primary_dark_variant: #373737;

	--highlight_dark:#6B5F50;
	--highlight_light: #FFE893;

	/* text colours */
	--text_loc_name: #33ff33;
	--text_link: rgba(138,90,68,1);
	--text_on_primary: black;
	--text_on_secondary: white;
	--text_low_emphasis: #474747;

	/* misc colours */
	--divider: rgba(164, 163, 163, 0.30);
	--shadow: rgba(0, 0, 0, 0.35);
	--secondary: #8a5a44;
	--secondary_variant: #A69480;
	--secondary_variant_light: #bda993;
	--secondary_variant_dark: #8b7d6d;
  	--selection: rgba(121, 80, 60, 0.234);
	--bubble_selection: rgba(84, 84, 84, 0.5);
	--error: #C2571B;
	--error_dark: #DD8A5B;
}

/*================================================
					Dimensions
================================================*/

:root {
	/* heights, widths, and volume */
	--appbar_dimen: 48px;
	--layer_widget_dimen: 64px;
	--side_panel_width: 380px;
	--zindex_floating: 900;
	--zindex_overlay: 9998;

	/* padding */
	--padding_minimum: 8px;
	--padding_small: 12px;
	--padding_medium: 16px;
	--padding_large: 32px;
}

/*================================================
					  Fonts
================================================*/

@font-face {
	font-family: 'wikiType';
	src: url('fonts/Goudy_Medieval_Alternate.ttf') format('embedded-opentype'), /* Internet Explorer */
		 url('fonts/Goudy_Medieval_Alternate.ttf') format('woff2'),             /* Super Modern Browsers */
		 url('fonts/Goudy_Medieval_Alternate.ttf') format('woff'),              /* Pretty Modern Browsers */
		 url('fonts/Goudy_Medieval_Alternate.ttf') format('truetype'),          /* Safari, Android, iOS */
		 url('fonts/Goudy_Medieval_Alternate.ttf') format('svg');               /* Legacy iOS */
	font-display: swap;
}

body {
	line-height: 1.5;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-weight: normal;
	color: rgba(0, 0, 0, 0.87);
}

.wikiTitle{
	font-family: 'wikiType', Arial, sans-serif;
}


/*================================================
					 General
================================================*/

/* style body */
html, body, main {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	opacity: 1 !important;
}

/* prevent icons being selectable */
.material-icons {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* hide these elements by default */
.onlymobile {
	display: none !important;
}
.hidedefault {
	visibility: hidden;
}
.banishdefault {
	display: none;
}

::placeholder {
	color: var(--text_low_emphasis) !important;
}

[class*="icon_button"] i {
	margin: 5px;
}

/*  horizontal dividers */
.horizontal_divider {
	background: var(--divider);
	height: 1.8px;
	margin: 0 auto;
	margin-top: 2px;
	margin-bottom: 2px;
	width: 75%;
}

hr {
	border: 0;
	border-top: 3px solid var(--divider);
}

/* prevent buttons being selectable */
button {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

::selection {
	color: var(--text_on_primary);
	background: var(--selection);
}

[type="checkbox"].filled-in:checked + span:not(.lever)::after {
	background-color: var(--secondary) !important;
	border-color: var(--secondary) !important;
}

.collection {
	margin: 0px !important;
	border: none !important;
	border-radius: unset !important;
}

.collection a.collection-item {
	background-color: transparent !important;
}

.collection a.collection-item:hover {
	background-color: var(--divider) !important;
}

.collection .collection-item.active {
	background-color: var(--secondary_variant) !important;
	color: var(--text_on_secondary) !important;
}

.collection .collection-item.selected {
	background-color: var(--selection) !important;
}

.collection a.collection-item {
	color: var(--text_on_primary) !important;
	border-bottom: none !important;
}

.collection a.collection-item:not(.active):hover {
	background-color: var(--divider);
}

.material-icons.circle::before {
	content: unset !important;
}

.collection .collection-item.avatar {
	min-height: 60px !important;
}

.circle {
	color: black !important;
	background-color: var(--divider) !important;
	font-size: 1.8rem !important;
	object-fit: scale-down;
}

/*================================================
					Accessibility
================================================*/

/* disable animations for browsers requesting reduced motion */
@media (prefers-reduced-motion) {
	* {
		transition: none 0ms !important;
		animation: none !important;
	}
}

/*================================================
				   Mobile CSS
================================================*/

@media only screen and (max-device-width:600px) {

	#location_switcher_root {
		left: calc(50% - var(--appbar_dimen) + var(--padding_large)) !important;
		width: 75% !important;
	}

	#location_switcher_root:before {
		left: calc(100% - 2px) !important;
		top: 15px !important;
		transform: rotate(180deg) !important;
	}

	.search_root {
		width: 100% !important;
	}

	.search_container {
		width: calc(100% - 80px) !important;
  	}

	.layer_widget_root {
		max-width: calc(100% - 80px) !important;
	}

	/* hide these elements on mobile */
	[class*='nomobile'] {
		display: none !important;
	}

	/* show these elements only on mobile */
	[class*='onlymobile'] {
		display: inline-block !important;
	}

	div[class^="icon_bar"] {
		flex-direction: column !important;
		width: var(--appbar_dimen) !important;
	}

	.icon_bar_responsive {
		flex-direction: column !important;
	}

}

/*================================================
					Gamemap
================================================*/

#gamemap {
	position: absolute;
	overflow: hidden;
	width: inherit;
	height: inherit;
	bottom: 0px;
	top: 0px;
	left: 0px;
	right: 0px;
	background-color: var(--background_dark);
	transition: background-color ease 900ms;
}

#gamemap * {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.location-label {
	border-radius: var(--padding_large) !important;
	position: absolute !important;
	white-space: nowrap !important;
	z-index: 20 !important;
	color: var(--text_loc_name) !important;
	font-weight: bolder !important;
	font-family: "Arial", sans-serif !important;
	font-size: 12px !important;
	text-shadow: 0px 0px 5px var(--background) !important;
	background-color: var(--shadow) !important;
	display: inline-block !important;
	border: none !important;
	box-shadow: 0px 0px 10px 6px var(--shadow) !important;
	cursor: pointer !important;
	padding: 0px !important;
}

.leaflet-interactive {
	-webkit-animation: fade-in 0.3s !important;
    -moz-animation: fade-in 0.3s !important;
    -ms-animation: fade-in 0.3s !important;
    -o-animation: fade-in 0.3s !important;
    animation: fade-in 0.3s !important;
}

.location-tooltip {
	z-index: 45 !important;
	position: absolute !important;
	border: 2px solid #606030 !important;
	background-color: rgba(0,0,0,0.85) !important;
	padding: 3px !important;
	display: inline-block !important;
	color: #ffffff !important;
	font-size: 11px !important;
	font-weight: bold !important;
	font-family: sans-serif !important;
	white-space: nowrap !important;
	border-image: url(../assets/images/tooltip-border.png) 2 2 2 2 stretch !important;
}

@keyframes fade-in {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

.leaflet-tooltip::before {
	display: none;
}

.tooltip-desc {
	font-weight: normal;
	font-size: 0.9em;
}

.leaflet-marker-icon {
	-webkit-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
}

.cellGrid {
	opacity: 0.45;
}

/*================================================
				 	 Pop-ups
================================================*/

.leaflet-popup-content-wrapper {
	display: block !important;
	background-color: var(--surface) !important;
	border: none !important;
	z-index: 30 !important;
	font-family: "Arial", sans-serif !important;
	font-size: 13px !important;
	padding: 4px !important;
	box-shadow: 0px 0px 2px 2px var(--shadow) !important;
}

.leaflet-popup-content {
	margin: 13px var(--padding_minimum) 13px var(--padding_minimum) !important;
}

.leaflet-popup-tip {
	box-shadow: 0px 0px 2px 2px var(--shadow) !important;
	background-color: var(--surface) !important;
}

.popupTitle a {
	font-weight: bolder;
	font-size: 14px;
	color: var(--text_low_emphasis);
}

.popupTitle a[href] {
	color: #0078A8;
}

.popupTitle a[href]:hover {
	text-decoration: underline !important;
}

.popupDesc, .popupDesc * {
	color: var(--text_on_primary);
	font-size: 10px;
	user-select: text !important;
}

.popupInfo, .popupInfo * {
	font-size: 9px;
	color: var(--text_low_emphasis);
	user-select: text !important;
}

.popupEditButton {
	margin-top: 10px;
	text-align: center;
	font-weight: normal;
	width: 100%;
	color: var(--text_link);
	cursor: pointer;
}

.popupEditButton:hover {
	background: var(--selection);
}

.popupEditButton:active {
	background: var(--bubble_selection);
}
















































/*================================================
					   STUFF
================================================*/





/*================================================
				   	Icon Bar
================================================*/

.icon_bar {
	padding-top: var(--padding_minimum);
	padding-bottom: var(--padding_minimum);
	padding-right: var(--padding_minimum);
	right:  var(--padding_minimum);
	position: absolute;
	display: flex;
	flex-wrap: nowrap;
	width: calc(100% - (var(--search_pane_width) + var(--padding_minimum))) !important;
	overflow: hidden;
}

div[class^="icon_bar"] {
	z-index: var(--zindex_floating);
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	gap: var(--padding_medium);
}

.icon_bar_responsive {
	flex: none;
	flex-direction: row !important;
	overflow: hidden;
	margin-right: auto;
}









































/*===============================================
				Location Switcher
================================================*/

#btn_location_switcher{
	border-radius: var(--padding_minimum);
	color: var(--highlight_light);

}

#btn_location_switcher #dropdown_icon{
	transition: all 0.2s ease-out;
}

#btn_location_switcher.toggled #dropdown_icon{
	transform: rotate(180deg);
}

#btn_location_switcher b{
	margin-right: -2px;
}

#location_switcher_root:before {
	content: "\A";
    border-style: solid;
    border-width: 10px 15px 10px 0;
    border-color: transparent var(--primary_variant_dark) transparent transparent;
    position: absolute;
    left: 50%;
	top: -17px;
	transform: rotate(90deg);
}

#location_switcher_root {
	position: fixed;
	display: none !important;
	width: calc(var(--search_pane_width) * 0.75 );
	height: 65%;
	background-color: var(--surface);
	color: var(--text_on_primary);
	top: 50%;
	left: calc(var(--search_pane_width) + var(--padding_large));
	top: 40%;
	transform: translate(-50%, -50%);
	z-index: 100000;
	border-radius: var(--padding_medium);
	box-shadow: 0px 1.5px 4px 4px var(--shadow);
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

#location_switcher_root.shown {
	opacity: 1;
	display: block !important;
	visibility: visible;
	pointer-events: auto;
	animation: fadein 0.2s;
	top:42%;
}

@keyframes fadein {
    0% {
        opacity: 0;
		top:40%;
    }

    100% {
        opacity: 1;
		top:42%;
    }
}

.collapsible-header {
	background-color: var(--surface_variant_dark);
	font-weight: bold;
	justify-content: space-between;
	padding-left: 1.4em;
}

li div.collapsible-header i {
	transition: all 0.2s ease-out;
}


#location_switcher_tab_bar {
	border-radius: var(--padding_medium) var(--padding_medium) 0 0;
	height: var(--appbar_dimen) !important;
	background-color: var(--primary_variant_dark);
	box-shadow: 0 2px 2px 0px var(--shadow);
	z-index: 999;
}

#location_switcher_tab_bar .tab a {
	color: var(--text_low_emphasis);
	font-weight: bold;
}

#location_switcher_tab_bar .tab a.active {
	color: var(--text_on_primary);
	font-weight: bold;
}

#location_switcher_content {
	overflow-y: auto;
	height: calc(100% - var(--appbar_dimen));
	border-radius: 0 0 var(--padding_medium) var(--padding_medium);
}

.tabs .indicator {
	height: 3px;
	background-color: var(--secondary);
}

.tabs .tab a:focus, .tabs .tab a.active {
	background-color: var(--selection);
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
	background-color: var(--selection);
}